<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  
  <title>Document</title>
</head>
<body>
 
  <div id="app">
    <form @submit.prevent="addStudent" v-if="!editingStudent">
      <input type="text" v-model="newStudent.name" placeholder="Full Name">
      <input type="text" v-model="newStudent.group" placeholder="Group">
      <input type="text" v-model="newStudent.mark" placeholder="Mark">
      <input type="checkbox" v-model="newStudent.isDonePr" placeholder="Is Done Pr">
      <button>Add</button>
    </form>
    <form @submit.prevent="updateStudent" v-if="editingStudent">
      <input type="text" v-model="editingStudent.name" placeholder="Full Name">
      <input type="text" v-model="editingStudent.group" placeholder="Group">
      <input type="text" v-model="editingStudent.mark" placeholder="Mark">
      <input type="checkbox" v-model="editingStudent.isDonePr" placeholder="Is Done Pr">
      <button>Save</button>
      <button @click="cancelEditing">Cancel</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Group</th>
          <th>Mark</th>
          <th>Is Done Pr</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="student in students" :key="student._id" :class="{ highlighted: student.isDonePr }">
          <td>{{ student.name }}</td>
          <td>{{ student.group }}</td>
          <td>{{ student.mark }}</td>
          <td>{{ student.isDonePr }}</td>
          <td>
            <a @click="editStudent(student)">Edit</a>
            <a @click="deleteStudent(student._id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
  

</body>
</html>