<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  
  <title>Document</title>
</head>
<body>
 
  <div id="app">
    <form @submit.prevent="addStudent" v-if="!editingStudent">
      <input type="text" v-model="newStudent.fullName" placeholder="Full Name">
      <input type="text" v-model="newStudent.group" placeholder="Group">
      <input type="text" v-model="newStudent.yearOfBirth" placeholder="Year of Birth">
      <input type="checkbox" v-model="newStudent.passed" placeholder="Passed">
      <button>Add</button>
    </form>
    <form @submit.prevent="updateStudent" v-if="editingStudent">
      <input type="text" v-model="editingStudent.fullName" placeholder="Full Name">
      <input type="text" v-model="editingStudent.group" placeholder="Group">
      <input type="text" v-model="editingStudent.yearOfBirth" placeholder="Year of Birth">
      <input type="checkbox" v-model="editingStudent.passed" placeholder="Passed">
      <button>Save</button>
      <button @click="cancelEditing">Cancel</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Group</th>
          <th>Year of Birth</th>
          <th>Passed</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="student in students" :key="student.id" :class="{ highlighted: student.passed }">
          <td>{{ student.fullName }}</td>
          <td>{{ student.group }}</td>
          <td>{{ student.yearOfBirth }}</td>
          <td>{{ student.passed }}</td>
          <td>
            <a @click="editStudent(student)">Edit</a>
            <a @click="deleteStudent(student.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="main.js"></script>

</body>
</html>